<h1>Dashboards</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Ye7FKc1JQe4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<%= shout_form_for(TextShout) do |form| %>
    <%= form.text_field :body, placeholder: 'shout here!', required: true %>
<% end %>

<%= shout_form_for(PhotoShout) do |form| %>
    <%= form.file_field :image, required: true %>
<% end %>

<%= render @dashboard.timeline %>
